.menu{
    background-color: #0984e3;
}
.text{
    text-align: center;
    font-weight: 400;
    width: 50%;
    font-size: 1rem;
    margin: auto;
}
.img{
    width: 290px;
    height: 290px;
    margin: auto;
    border-radius: 50%;
    margin-top: 50px;
    margin-bottom: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
}
.img img{
    width: 290px;
    height: 290px;
    object-fit: cover;
    border-radius: 50%;
    transition: .3s;
}
.img img:hover{
    height: 300px;
    transition: .3s;
}
@media screen and (max-width: 685px){
    .text{
        width: 90%;
    }
}