{% extends "base.html" %}
{% load static %}
{% block title %} Cursos y Webinars {% endblock %}
{% block content %}
{% include "menu.html" %}
<h1 class="titulo espacio">Cursos y Webinars</h1>
    <section class="contenido">
        {% for c in cursos %}
            <div class="item">
                <{{c.banner}} alt = "{{c.banneralt}}">
                <div class="detalle">
                    <h3>{{c.categoria}}</h3>
                    <h1>{{c.titulo}}</h1>
                    <h2>Dictado por: <span>{{c.docente}}</span></h2>
                    <h4>{{c.cargo}}</h4>
                    <h2>Modalidad: <span>{{c.modalidad}}</span></h2>
                    <div class="sub">
                        <div><span class="icon-clock-1"></span><span>{{c.horasTotal}}&nbsp;hrs</span></div>
                        <div><span class="icon-regular"></span><span>{{c.calificacion}}</span></div>
                        <div><span class="icon-user"></span><span>{{c.alumnos}}</span></div>
                    </div>
                    <div class="price">
                        <h5>{{c.descuento}}<span>% - dcto</span></h5>
                        <h6>S/<span>{{c.precioOriginal}}.00</span></h6>
                    </div>
                </div>
                <div class="btn">
                    <a href="{{c.url}}">ver más</a>
                    <a href="{% url 'compra' %}"><span class="icon-basket">S/<span>{{c.precioActual}}.00</span></span></a>
                </div>
            </div>
        {% endfor %}    
    </section>
{% endblock %}