{% load static %}
<div class="side-bar"  id="menu-overlay">
    <div class="menu">
        <div class="item"><a href="{% url 'inicio' %}"><i class="icon-home"></i>Inicio</a></div>
		<div class="item"><a href="{% url 'cursos' %}"><i class="icon-graduation-cap"></i>Cursos y Webinars</a></div>
		<div class="item"><a href="{% url 'workshops' %}"><i class="icon-gift-1"></i>Workshops</a></div>
		<div class="item"><a href="{% url 'trabaja-con-nosotros' %}"><i class="icon-suitcase-1"></i>Trabaja con Nosotros</a></div>
        <div class="item"><a href="{% url 'blogs' %}"><i class="icon-doc-text-inv"></i>Blog TDI Perú</a></div>
    </div>
</div>
<div id="toogleIcon" onclick="menuToogle()"></div>
<nav class="menu" id="menu">
	<div class="contenedor">
		<a href="{% url 'inicio' %}" class="seccion-a">
			<img src="{% static 'img/logo/0002.png' %}" alt="Logotipo de TDI Perú">
			<h1>TDI Perú</h1>
		</a>
	</div>
</nav>