{% load static %}
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Empresa dedicada a la consultoria y educación en tecnologías acorde al mercado laboral. Aprende con profesionales expertos en tiempo real.">
<meta name="keywords" content="TDI PERÚ, tdiperu, TDIPERÚ, cursos, webinar, webinars, online, clases online, tecnologías, workshops">
<meta name="author" content="TDI Perú"/>
<meta name="copyright" content="Copyright © TDI Perú 2021 - Todos los derechos reservados"/>
<meta property="og:locale" content="Lima - Perú">
<meta property="og:title" content="Empresa dedicada a la consultoria y educación en tecnologías acorde al mercado laboral.">
<meta property="og:description" content="Empresa dedicada a la consultoria y educación en tecnologías acorde al mercado laboral. Aprende con profesionales expertos en tiempo real.">
<meta property="og:url" content="https://tdiperu.com">
<meta property="og:type" content="website">
<meta name="robots" content="index"/>
<link rel="icon" href='{% static "img/logo/0003.png" %}' sizes="32x32" type="image/png">